<%= render 'layouts/header' %>
<div id="home-hero">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 home-banner">
			<h1 class="center">The Smarter Way To Find Your Dog</h1>
			<div id="home-form">
				<form>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="select" name="breed'" class="form-control" placeholder="What Kind Of Dog Are You Looking For?">
							</div>
							<div class="col-md-4">
								<input type="select" name="location'" class="form-control" placeholder="Location (city, state or ZIP)">
							</div>
							<div class="col-md-2">
								<a class="btn-bark" href="#">Search</a>
							</div>
						</div>
					</div>
				</form> 
			</div>
		</div>
	</div>
</div>
<div id="home-first" class="home-panel">
	<div class="container">
		<div class="col-md-12">
			<h1>Featured Breeders</h1>
			<h4>Ready to meet your new best friend? These Breeders have puppies available now!</h4>
			<p>Featured goes here.</p>
		</div>
	</div>
</div>