<footer>
	<div class="container">
		<div class="col-md-3">
			<h5>Quick Links</h5>
			<ul>
				<li><a href="#">Featured Breeders</a></li>
				<li><a href="#">Browse Dogs</a></li>
				<li><a href="#">How It Works</a></li>
				<li><a href="#">Shop Safely</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5>Breeders</h5>
			<ul>
				<li><a href="#">Breeder Sign Up</a></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="#">Quick Start Guide</a></li>
				<li><a href="#">Why Breedslist?</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5>Pet Care</h5>
			<ul>
				<li><a href="#">Adoption Guide</a></li>
				<li><a href="#">Training Resources</a></li>
				<li><a href="#">Food & Supplies</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5>Company</h5>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</div>
	</div>
</footer>